@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background:url('../img/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
}

.portfolio--title{
    text-align: center;
    font-family: 'Fenix', serif;

    color:white;
    font-size: 5rem;
    
}

.title-feature{
    font-family: 'Zilla Slab Highlight', cursive;
}

/*----------------SECTION PROJET-----------------*/

section{
    display: flex;
    justify-content: space-around;

    margin: 10% 0 0 0;
}

article{
    border: 2px solid rgba(0,0,0,0);
    border-radius: 10px;
    width: 20%;
    padding: 1% 3%;
    background-color: rgba(1,1,1,0) ;

    transition: 0.4s all;

}

article:hover{
    border: 2px solid white;
    background-color: rgba(1,1,1,0.7) ;
    transition: 0.4s all;
    
}

article:hover .p--info-article{
    color:#b71c1c;
    transition: 0.4s all;
}

.p--article{
    text-align: center;
    font-family: 'jura', sans-serif;

    color:white;
    font-size: 3rem;
    font-weight: bold;

    margin: 0;

    transition: 0.4s all;
}

.p--info-article{
    font-family: 'Montserrat', sans-serif;

    color:white;
    font-size: 1.3rem;
    text-align: center;

    font-style: italic;
    text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000;

    margin: 3% 0;
}

.hr--article{
    height: 2px;
    background-color: white;

    margin: 10% 0;
}

.img--article{
    background-position: center;
    background-size: cover;
    width: auto;
    height: 250px;
}

/*-----------------BTN--------------*/

.article--btn-center{
    display: flex;
    justify-content: center;
}

.btn {
	border: none;
	font-family: 'jura', sans-serif;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 10% 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
    color: white;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s;
}

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1b */
.btn-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	
    background-color: rgba(0, 0, 0, 0);
}

.btn-1b:hover,
.btn-1b:active {
	color:#b71c1c;
}

.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}
